# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
.DS_Store
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist

# migrations
knexfile.js

# env
.env

# vagrant
/vagrant/.vagrant/
